<%= form_for(@service, :html => { :multipart => true }) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">

      Há erros no formulário, por favor verifique.

    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= error_tag @service, :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= error_tag @service, :description %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
    <%= error_tag @service, :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
