<div>
  <%= image_tag(@service.imagem) %>
</div>

<div>
  <%= @service.title %>
</div>

<div>
  <%= @service.description %>
</div>

<% if user_signed_in? %>
 <% if policy(@service).new? %>

  <%= link_to 'Edit', edit_service_path(@service) %> |
  <%= link_to 'New Service', new_service_path %>

 <% end %>
<% end %>
