<h1> <%= t 'users.listing'%> </h1>

<table>
  <thead>
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Email</th>
      <th>role</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="avatar-mini"> <%= image_tag(user.imagem)%> </td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to t('links.show'), user %></td>
        <td><%= link_to t('links.edit'), edit_user_path(user) %></td>
        <td><%= link_to t('links.destroy'), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
