<%= form_for(@produto, :html => { :multipart => true }) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      Há erros no formulário, por favor verifique. 

    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
    <%= error_tag @produto, :nome %> 
  </div>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
    <%= error_tag @produto, :descricao %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br/>
    <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>
    <span class="help">Ou crie uma </span>

    <%= link_to "Nova Categoria", controller: "categories", action: "new"%>
    <%= error_tag @produto, :category_id%>
  </div>

  <div class="field">
    <%= f.label :photo, "Photo" %><br>
    <%= f.file_field :photo %>
    <%= error_tag @produto, :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>








