<p>
  <%= image_tag(@produto.imagem) %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Category:</strong>
  <%= @produto.category.name %>
</p>

<% if user_signed_in? %>
 <% if policy(@produto).new? %>

  <%= link_to 'Edit', edit_produto_path(@produto) %> |
  <%= link_to 'New Produto', new_produto_path %>

 <% end %>
<% end %>
