<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">

      Há erros no formulário, por favor verifique. 

    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
    <%= error_tag @post, :titulo %>
  </div>

  <div class="field">
    <%= f.label :subtitulo %><br>
    <%= f.text_field :subtitulo %>
    <%= error_tag @post, :subtitulo %>
  </div>

  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
    <%= error_tag @post, :photo %>
  </div>

  <div class="field">
    <%= f.label :texto %><br>
    <%= f.text_area :texto %>
    <%= error_tag @post, :texto %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
