<section>
            <div id="menu-admin">
                <ul >
                           <li>
                              <%= link_to t('users.listing'), users_path %>
                           </li>

                           <li>
                              <%= link_to t('categories.listing'), categories_path %>
                           </li>

                           <li>
                              <%= link_to t('posts.new.title'), new_post_path %>
                           </li>

                           <li>
                              <%= link_to t('categories.new.title'), new_category_path %>
                           </li>

                           <li>
                              <%= link_to t('produtos.new.title'), new_produto_path %>
                           </li>

                           <li>
                              <%= link_to t('offerings.new.title'), new_offering_path %>
                           </li>

                           <li>
                              <%= link_to t('offerings.listing.title'), offerings_path %>
                           </li>

                           <li>
                              <%= link_to t('services.new.title'), new_service_path %>
                           </li>

               </ul>
            </div>

            <hr>

        </section>