<nav> 
  <ul> 
    <li><%= link_to t('layout.home'), root_path %></li>
    <li><%= link_to t('layout.productos'), produtos_path %></li>
    <li><%= link_to t('layout.services'), services_path %></li>
    <li><%= link_to t('layout.posts'), posts_path %></li> 
    <li><%= link_to t('layout.signup'), new_user_path %></li> 
    <li> <%= link_to t('layout.signin'), new_user_sessions_path %> </li> 
  </ul> 
</nav
