<!DOCTYPE html>
<html>
<head>
  <title>Eletrica</title>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 300px;
      margin: auto;
  }
  </style>

 <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<header>

 <div id="header-top">
      <div id="header-top-left">
 	  <p id="p_cidade">
	   Pinhal de Sao Bento
	  </p>
      </div>
      <div id="header-top-right">
          <p id="p_tel">
            Central de vendas e <br> atendimento ao cliente 
	  </p>
	  <h4 id="h3_tel"> (46)8415-0075</h4>
      </div>
 </div>

 <div id="header-wrap">
    <p id="h1titulo"><%= link_to "elétrica.com", root_path%></p>
    <nav>
        <ul>
	   <li><%= link_to "Home", root_path%></li>
           <li><%= link_to "Produtos", produtos_path%></li>
           <li><%= link_to "Serviços", services_path%></li>
           <li><%= link_to "Curiosidades", produtos_path%></li>
	   
        </ul>
    </nav>
  </div>

</header>

<%= yield %>

</body>
</html>

























