<!DOCTYPE html>
<html>
<head>
  <title>Eletrica</title>

  <meta charset="utf-8">

  <%= stylesheet_link_tag    "application",
               media: "all",
               "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application",
               "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

</head>
<body>

<header>

 <div id="header-top">
      <div id="header-top-left">
 	  <p id="p_cidade">
	   Pinhal de Sao Bento
	  </p>
      </div>
      <div id="header-top-right">
          <p id="p_tel">
            Central de vendas e <br> atendimento ao cliente
	  </p>
	  <h4 id="h3_tel"> (46)8415-0075</h4>
      </div>
 </div>

 <div id="header-wrap">
    <p id="h1titulo"><%= link_to "elétrica.com", root_path%></p>
    <% if user_signed_in? %>
	<%= render 'layouts/user_navbar' %>
    <% else %>
        <%= render 'layouts/visitor_navbar' %>
    <% end %>

  </div>

</header>

 <div class="content">

           <% if notice.present? %>
             <p id="notice">
               <%= notice %>
             </p>
           <% end %>

           <% if alert.present? %>
             <p id="alert">
               <%= alert %>
             </p>
           <% end %>

      <%= render 'layouts/template_direita'%>


      <%= yield %>

 </div>

 <%= render 'layouts/rodape' %>

</body>
</html>

























